// Place all the styles related to the pupils controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Futura;
  padding: 0 2%;
}

#students-list {
  margin-top: 0px;
  list-style-type: none;
  padding: 0px;
}

#students-list a {
  display: block;
}

#students-list li {
  background-color: #d3d3d3;
  width: 20%;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  text-align: center;
}

input {
  padding: 0;
  width: 20%;
}